#books-page {
    min-width: 1100px;
    max-width: 1500px;
    margin: 30px auto;
}

#books-container {
    width: 80%;
    margin: auto;
}

#filters-form {
    width: 100%;
    padding-bottom: 3em;
}

#filters-container {
    text-align: center;
}

#filters-container > input {
    border: 3px solid rgb(95,64,33);
}

#category-select {
    border: 3px solid rgb(95,64,33);
    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    color: white;
    background-color: rgb(95, 64, 33);
    height: 2em;
}


#search-icon {
    position: relative;
    right: 30px;
}

#book-container {
    display: flex;
    flex-flow: wrap;
}