#create-page, #edit-page {
    min-width: 1100px;
    max-width: 1500px;
    height: 800px;
    margin: 30px auto;
}

.create-edit-form {
    text-align: center;
    height: 100%;
}

.create-edit-container {
    padding-top: 50px;
    height: 100%;
}

.create-edit-form label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
}

.create-edit-container input {
    font-size: 18px;
    width: 300px;
    height: 40px;
    border-radius: 7px;
    border: 3px solid rgb(95, 64, 33);
}

.create-edit-container textarea {
    border: 3px solid rgb(95, 64, 33);
}

.submit-container {
    margin-top: 30px;
}

.submit-container button {
    background-color: rgb(95, 64, 33);
    color: white;
    border-style: none;
    border-radius: 7px;
    width: 150px;
    height: 40px;
    font-size: 18px;
}

.submit-container button:hover {
    background-color: rgb(241, 193, 65);
}

.create-edit-category {
    border: 3px solid rgb(95,64,33);
    text-align: center;
    font-size: 20px;
    border-radius: 7px;
    color: white;
    background-color: rgb(95, 64, 33);
    height: 2em;
}