#details-page {
    min-width: 1100px;
    max-width: 1500px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#info-section {
    display: flex;
    padding: 3em;
}

.info-summary {
    justify-content: space-between;
}

.info-summary .text {
    padding: 0 10em 0 10em;
    color: black;
    text-align: left;
    line-height: 1.5em;
}

.info-container img {
    width: 300px;
    height: 450px;
}

.info-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 20%;
    margin: auto;
}

.info-buttons button {
    border-style: none;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    justify-content: center;
    width: 8em;
    height: 2.2em;
}

.info-buttons button:hover, .comments-buttons button:hover {
    background-color: rgb(241, 193, 65);
}

.info-btn-edit, .info-btn-delete {
    background-color: rgb(120, 120, 120);
}

.info-btn-buy, .info-btn-read {
    background-color: rgb(95, 64, 33);
}

.comments-buttons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 2.2em;
    width: 30%;
}

.comments-buttons button {
    background-color: rgb(31,38,46);
    color: white;
    border-style: none;
    border-radius: 7px;
    width: 8em;
}
