@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');

/*
main {
    font-family: 'Old Standard TT', serif;
    margin: auto;
}

.overview {
    width: 50%;
}

.overview h3{
    font-size: bold;
}

.create-library {
    width: 50%;
    margin-top: 5%;
    text-align: center;
    height: 100px;
}

.create-library button {
    width: 40%;
    height: 40%;
    background-color: rgb(112, 81, 41);
    color: white;
    border-style: none;
    border-radius: 7px;
}

.categories {
    width: 50%;
    text-align: center;

} */