#home-page {
    min-width: 1100px;
    max-width: 1500px;
    margin: auto;
}


#welcome-message {
    background-color: rgb(211, 178, 32);
    border-radius: 14px;
    max-width: 55%;
    padding: 4.5em;
    margin: auto;    
}

#create-library {
    background-color: rgb(92, 64, 14);
    border-radius: 10px;
    height: 7em;
    color: white;
    text-align: center;
    padding: 0.5em;    
}

#btn-create-library {
    background-color: rgb(211, 178, 32);
    border-radius: 7px;
    border-style: none;
    color: black;
    width: 17em;
    height: 2.5em;
}

#btn-create-library:hover {
    background-color: black;
    color: white;
}

#categories-wraper {
    min-width: 1100px;
    max-width: 1500px;
}

.categories-heading {
    height: 40px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

#categories {
    display: flex;
    flex-flow: wrap;
    padding: 30px;
    height: 100%;
}

.category {
    padding: 50px;
    height: 200px;
}

.category a{
    text-decoration: none;
    text-align: center;
    color: black;
}

.category a h3:hover {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 26%, rgba(255,249,249,1) 100%);
    border-radius: 7px;
    color: white;
}

.image-wrap img {
    height: 140px;
    width: 170px;
    border-radius: 17px;
}
                
#top-rated-wraper {
    min-width: 1100px;
    max-width: 1500px;
}

#top-rated-heading {
    white-space: initial;
    height: 40px;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
}

#top-rated-container {
    display: flex;
    flex-flow: wrap;
    padding: 30px;
    height: 100%;
}

.top-rated {
    text-align: center;
    padding: 50px;
    height: 300px;
    width: 200px;
}

.data-buttons {
    margin-top: 30px;
}

.data-buttons a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 7px;
    padding: 10px;
}

.data-buttons a:hover {
    color: black;
    background-color: white;
}

#see-all {
    min-width: 1100px;
    max-width: 1500px;
    text-align: center;
    height: 50px;
}

#see-all-btn {
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 7px;
    width: 120px;
    height: 40px;
}

#see-all-btn:hover {
    color: black;
    background-color: white;
}