#navigation {
    background-image: url(../images/books-images/Wooden-Background.webp);
    width: 100%;
    margin: 0px;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: top 0.3s;
}

#navigation-items {
    min-width: 1100px;
    max-width: 1500px;
    display: flex;
    margin: auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}

#navigation nav {
    width: 45em;
    display: flex;
    justify-content: space-between;
}

#user, #guest{
    width: 35em;
    display: flex;
    justify-content: space-between;
}


#navigation h2, #navigation a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#navigation h2:hover, #navigation a:hover {
    color: rgb(120, 120, 120);
}


#navigation i{
    color: rgb(0, 0, 0);
}