.navigation {
    width: 100%;
    margin: 0px;
    height: 60px;
}

.navigation a {
    text-decoration: none;    
}

.navigation-items {
    min-width: 1100px;
    max-width: 1500px;
    display: flex;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}

.navigation-home{
    width: 30em;
}

.navigation-home a {
    color: rgb(95,64,33);
}

.navigation nav {
    width: 80em;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-everyone {
    width: 25em;
    height: inherit;
    display: flex;
}

/* BUG FIXED */
.navigation-everyone > a {
    display: none;
}

.all-books, .pricing {
    width: 30em;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BUG FIXED */
.pricing a:nth-child(1) {
    display: none;
}

.all-books a, .pricing a {
    color: black;
}

.all-books a:hover, .pricing a:hover {
    background-color: rgb(95,64,33);
    color: white;
    height: 30px;
    width: 100%;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
}


.dropdown {
    display: flex;
    width: 40em;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.dropdown-btn {
    background: inherit;
    border-style: none;
    font-size: inherit;
    font-weight: 300;
    margin: auto;
}

.dropdown-btn:hover {
    color: white;
    background-color: rgb(95,64,33);
    border-radius: 20px;
    height: 30px;
    width: 100%;
}
  
.dropdown-content {
    min-width: 220px;
    background: rgb(95,64,33);
    position: absolute;
    top: 50px;
    z-index: 1;
    padding: 20px;
    border-radius: 7px;
    display: none;
}


.dropdown-content a {
    color: white;
    display: block;
    text-align: left;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user, .guest {
    margin-right: 10px;
    width: 20em;
    height: inherit;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.user a {
    color: white;
    width: 130px;
    height: 30px;
    border-radius: 30px;
    font-size: 18px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in {
    background-color: rgb(120, 120, 120);
}

.sign-up {
    background-color: rgb(95,64,33);
}