#navigation {
    background-image: url(../images/books-images/Wooden-Background.webp);
    width: 100%;
    margin: 0px;
    height: 80px;
    overflow: hidden;
    /* position: fixed;
    top: 0;
    transition: top 0.3s; */
}

#navigation-items {
    min-width: 1100px;
    max-width: 1500px;
    display: flex;
    margin: auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}

#navigation nav {
    width: 60em;
    display: flex;
    justify-content: space-between;
}

#user, #guest{
    width: 35em;
    display: flex;
    justify-content: space-between;
}


#navigation h2, #navigation a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#navigation h2:hover, #navigation a:hover {
    color: rgb(120, 120, 120);
}


#navigation i{
    color: rgb(0, 0, 0);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    width: 200px;
    text-align: right;
    margin-left: 20px;
}

.dropdown-btn {
    background: inherit;
    border-style: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
}
  
.dropdown-content {
    min-width: 220px;
    background: url('http://i.stack.imgur.com/jGlzr.png');
    position: absolute;
    z-index: 1;
    padding: 20px;
    border-radius: 7px;
    display: none;
}  

.dropdown-content a {
    display: block;
    text-align: left;
    border-bottom: 1px solid;
    margin-bottom: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}